<!DOCTYPE html>
<html>
<head>
  <link href="/assests/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>

  <h1>Welcome to the website master</h1>
  <p>This is the example of the Nodejs</p>
  <form method="post" action="/welcomepage">
      <label>User name</label>
      <input type="text" name="uname">
      <label>Password</label>
      <input type="password" name="password">
      <button type="submit">Submit</button>
  </form>

  <a href="register"> NewUser?Register Here </a>
  <% if (msgg){ %>
    <p><%= msgg%></p>
  <%}%>

</body>
</html>
