<!DOCTYPE html>
<html>
<head>
  <link href="/assests/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
  <% include partials/nav.ejs %>
  <h1>Welcome to the profile <%=person%> </h1>
  <p><strong>Age</strong> <%=data.age%></p>
  <p><strong>EmpId</strong> <%=data.EmpId%></p>
  <h3>hobbies</h3>
  <ul>
    <% data.hobbies.forEach(function(item){ %>
      <li><%= item %> </li>
    <% }); %>
  </ul>
</body>
</html>
