<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="/assests/style.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
      <% include partials/nav.ejs %>
  <p>  Welcome to Nodejs Mr.</p>
  <!-- <form method="post" action="/welcome">
      <label>User name</label>
      <input type="text" name="uname">
      <label>Password</label>
      <input type="password" name="password">
      <button type="submit">Submit</button>
  </form> -->
  </body>
</html>
